# Core
numpy>=1.22
pandas>=1.4
scikit-learn>=1.2

# Visualization
matplotlib>=3.5
seaborn>=0.12

# Saving models & pipeline
joblib>=1.2

# Web demo
streamlit>=1.23

# Notebook environment
jupyter>=1.0

# Regex and text handling
regex
